<footer class="bg-blackFooter w-full text-white py-8">
  <h3 class="text-white font-medium text-center mb-4">Síguenos en:</h3>
  <div class="flex justify-center items-center space-x-4">
    <a
      class="text-white font-bold hover:text-gra mx-0y-400 px-3 py-2 text-sm"
      href="https://x.com/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="X"
    >
      X
    </a>
    <span>|</span>
    <a
      class="text-white font-bold hover:text-gray-400 p mx-0x-3 0y-2 text-sm"
      href="https://facebook.com/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook"
    >
      Facebook
    </a>
    <span>|</span>
    <a
      class="text-white font-bold hover:text-gray-400 px mx-0-3 p0-2 text-sm"
      href="https://instagram.com/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      Instagram
    </a>
    <span>|</span>
    <a
      class="text-white font-bold hover:text-gray-400 mx-0 px-0 py-2 text-sm"
      href="https://tiktok.com/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Tiktok"
    >
      Tiktok
    </a>
  </div>
  <div class="text-center text-light text-white mt-10">
    Copyright Shopéame &copy; {{ currentYear }}
  </div>
</footer>
