<div
  class="flex justify-center flex-wrap bg-white w-auto mt-5 mr-20 ml-20 mb-10 shadow-lg rounded-lg"
>
  <h1 class="flex justify-center font-semibold text-black text-3xl mt-10">
    Bienvenido a Shopéame
  </h1>

  <div class="flex flex-col justify-center mt-20 ml-5 mb-5">
    <h2 class="text-black font-bold mb-5">¿Qué es Shopéame?</h2>
    <p class="text-black font-normal">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum odio aut
      repellat est expedita cum delectus, perspiciatis perferendis saepe facilis
      nemo quidem. Quisquam unde, excepturi molestias vero quas culpa ab?
    </p>
  </div>

  <div class="flex flex-col justify-center mt-5 ml-5 mb-5">
    <h2 class="text-black font-bold mb-5">¿Para qué puedo usar Shopéame?</h2>
    <p class="text-black font-normal">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque molestiae
      sint quis beatae deserunt dolor quasi, magnam id. Iusto laudantium in
      accusamus iste velit? Suscipit nihil aspernatur non sapiente vitae? Nam
      hic dicta aspernatur quae doloribus iure eius labore sunt natus cupiditate
      neque odit aliquid repellendus necessitatibus porro eligendi sint dolorem
      modi cum ab esse asperiores, qui at sit. Aut? Neque error totam,
      consequatur harum, necessitatibus sequi provident quia architecto,
      voluptates debitis ducimus velit saepe quod rerum vel sunt nulla. Neque
      eius expedita nisi aperiam libero aspernatur quia culpa quasi. A est
      quidem dolore voluptates praesentium? Deleniti doloremque amet, nemo unde,
      eos eum asperiores delectus similique commodi voluptate quia veniam
      provident deserunt debitis eius iusto sint optio distinctio? Eaque,
      beatae? Ullam, eveniet neque impedit consequatur aliquam rem nesciunt ea
      exercitationem ut reprehenderit blanditiis tempora accusantium aliquid,
      facilis sunt, quis eum obcaecati quisquam repudiandae magni rerum.
      Architecto voluptates laudantium in saepe. Perferendis minima pariatur
      cupiditate deleniti fugiat officia tempora consectetur dicta neque veniam,
      aperiam obcaecati facere asperiores, quis ullam voluptatibus corrupti
      laudantium. Fugit, nam mollitia temporibus atque at distinctio impedit a!
      Accusamus reiciendis quas nam, minima nulla esse vero! Repellendus, amet!
      Obcaecati sapiente, animi soluta consectetur quod modi cumque perferendis
      ipsam magni accusantium quo minima atque mollitia unde nesciunt, quibusdam
      odio! Ipsam quas vitae non, saepe earum velit, nulla natus et, optio
      quisquam illo itaque! Nobis optio deleniti deserunt quisquam officiis
      voluptatem iste atque? Necessitatibus sapiente minima sit? Tenetur, minima
      assumenda. Nulla, consectetur. Debitis assumenda praesentium porro
      distinctio blanditiis nisi odit maiores ipsam laboriosam ipsum facilis
      rerum quia similique, ad facere nesciunt expedita soluta dolor minima
      alias! Excepturi, dicta. Similique, ipsam? Amet tenetur quas officiis, non
      mollitia animi. Eos, quia, doloribus amet fuga optio quisquam qui alias
      asperiores itaque dolores harum aspernatur unde earum vitae cum tempora
      totam ex nostrum mollitia.
    </p>
  </div>

  <div class="flex flex-col justify-center mt-5 ml-5 mb-5">
    <h2 class="text-black font-bold mb-5">¿Qué hacemos en Shopéame?</h2>
    <p class="text-black font-normal">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum odio aut
      repellat est expedita cum delectus, perspiciatis perferendis saepe facilis
      nemo quidem. Quisquam unde, excepturi molestias vero quas culpa ab? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam, error,
      sunt nisi, quis accusantium culpa quod quaerat cupiditate iure reiciendis
      autem. Assumenda voluptates optio architecto modi, ex qui deserunt?
    </p>
  </div>

  <div class="flex flex-col justify-center mt-5 ml-5 mb-20">
    <h2 class="text-black font-bold mb-5">¿Es seguro usar Shopéame?</h2>
    <p class="text-black font-normal">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum odio aut
      repellat est expedita cum delectus, perspiciatis perferendis saepe facilis
      nemo quidem. Quisquam unde, excepturi molestias vero quas culpa ab? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ipsum totam, error,
      sunt nisi, quis accusantium culpa quod quaerat cupiditate iure reiciendis
      autem. Assumenda voluptates optio architecto modi, ex qui deserunt?
    </p>
  </div>
</div>
